<div class="btn-group select-tree" style="width:100%" ng-class="{true:'dropdown',false:'dropup'}[options.direction]">
     <input type="text" ng-model="treeNames" class="form-control dropdown-toggle" data-toggle="dropdown"  placeholder="{{placeholder}}" ng-readonly="true" ng-click="selectToggle();"/>
     <div class="dropdown-menu" role="menu" ng-click="selectBox($event);">
		<div style="overflow-y: auto;" ng-style="options.selectBoxCss">
			<cjhme-tree tree-data="treeData" options="options" instance="treeInstance"></cjhme-tree>
		</div>
		<hr class="c-margin5">
		<div class="text-center">
			<button type="button" class="btn btn-primary c-margin-r15" ng-click="ok();">确定</button>
			<button type="button" class="btn btn-default" ng-click="close();">关闭</button>
		</div>
	 </div>
</div>